<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
         <div>
             <h2>Sign UP</h2>
             <div class="step">Step 1/2</div>
             <form action="" class="register">
                 <div class="portion">
                     <label for="">First Name</label>
                     <input type="text" name="" id="">
                 </div>
                 <div class="portion">
                     <label for="">Last Name</label>
                     <input type="text" name="" id="">
                 </div>
                 <div class="portion">
                     <label for="hone">Mobile</label>
                     <input type="text" name="" id="">
                 </div>
                 <div class="portion">
                     <label for="">Create Password</label>
                     <input type="password" name="" id="">
                 </div>
                 <div class="portion">
                     <label for="">Confirm Password</label>
                     <input type="password" name="" id="">
                 </div>
                 <div class="portion">
                     <label for="hone">Referral Code (If any)</label>
                     <input type="text" name="" id="">
                 </div>
                 <button routerLink="/confirm-user">Next</button>
                 <span routerLink="/login">Existing user?</span>
             </form>
         </div>
    </div>
</div>