<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a href="">Home</a></li>
            <li><a href="">Find your course</a></li>
            <li><a href="">List of institutes</a></li>
            <li>Country Info</li>
        </ul>
        
        <div class="all_detail_back">
            <h1>Country Information</h1>
            <div class="all_layout">
               <img src="assets/images/Nepal.jpg" alt="">
               <div class="button">Continue...</div>
            </div>
            
        </div>
    </div>
    
</div>