<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/fyc">Find your course</a></li>
            <li>Find your institution</li>
        </ul>
        <div class="all_detail_back">
            <h1>Find your institution</h1>
            <div class="all_layout d-flex align-items-center">
                <form action="">

                    <div class="portion">
                        <div class="row">
                            <div class="col-md-4">
                                <p>MBBS</p>
                            </div>
                            <div class="col-md-8">
                                <div class="radio_back d-flex">
                                    <div class="port d-flex align-center">
                                      <input type="radio" name="radio" id="govt" value="Government" [(ngModel)]="readioSelected">
                                      <label for="govt" class=" d-flex align-center">
                                        <span></span>
                                        Govt
                                      </label>
                                    </div>
                                    <div class="port d-flex align-center">
                                      <input type="radio" name="radio" id="pvt" value="Private" [(ngModel)]="readioSelected">
                                      <label for="pvt" class=" d-flex align-center">
                                        <span></span>
                                        PVT
                                      </label>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="portion">
                        <div class="row">
                            <div class="col-md-4">
                                <p>State</p>
                            </div>
                            <div class="col-md-8">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select State</mat-label>
                                    <mat-select value="West bengal" matNativeControl required (selectionChange)="someMethod($event.value)">
                                        <mat-option value="{{item.id}}" *ngFor="let item of states">{{item.state_name}} </mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="portion">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><button mat-raised-button color="primary" (click)="showContent()">Search</button></div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>
