<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        <li data-target="#carouselExampleControls" data-slide-to="4"></li>
        <li data-target="#carouselExampleControls" data-slide-to="5"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/b-slide1" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/b-slide2" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/b-slide3" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/b-slide4" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/b-slide5" alt="">
      </div>
    </div>
    
</div>
<div class="bottom_notification d-flex align-center">
    <div class="track">
        NEET PG postponed for 4 months, exam to be held only after August 31st released by PMO NEET UG 2021 Exam will be conducted on 1st August, 2021 >>> FMGE 2021 dates has been announced for June session, to be held on 18th June 2021>>> JENPAS-UG 2021 tentatively to be held on 4th July 2021

    </div>
  </div>

