<header>
    <div class="top">
         <div class="container d-flex align-items-center justify-content-between">
             <div class="left d-flex align-items-center">
                 <a href="https://play.google.com/store/apps/details?id=com.InfinityTech.Infinity&hl=en&gl=US" target="_blank">
                     <img src="assets/images/google-play-badge.png" alt="">
                 </a>
                 <a href="https://apps.apple.com/in/app/medcyclopedia/id1558059472" target="_blank">
                     <img src="assets/images/apple-store-badge.png" alt="">
                 </a>
             </div>
             <div class="right">
                 <ul class="social_media d-flex align-items-center">
                     <li><a href=""><span class="fa fa-whatsapp"></span></a></li>
                     <li><a href=""><span class="fa fa-facebook-square"></span></a></li>
                     <li><a href=""><span class="fa fa-twitter"></span></a></li>
                     <li><a href=""><span class="fa fa-instagram"></span></a></li>
                     <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                     <li><a href=""><span class="fa fa-youtube"></span></a></li>
                     <li><a href=""><span class="fa fa-user"></span>Already a subscriber? </a></li>
                 </ul>
             </div>
         </div>
    </div>

    <div class="main_header d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
             <a href="" class="logo"><img src="assets/images/logo-infity.png" alt=""></a>
             <div class="mobile_menu">
                
                 <ul class="menu d-flex">
                     <li><a href="">home</a></li>
                     <li><a href="">about us</a></li>
                     <li><a href="www.google.com">collage search <span class="fa fa-caret-down"></span></a>
                         <ul>
                             <li><a href="">All Collages</a></li>
                             <li><a href="">Collage of India</a></li>
                             <li><a href="">Collages of Abroad</a></li>
                         </ul>
                     </li>
                     <li><a href="">course <span class="fa fa-caret-down"></span></a>
                         <ul>
                             <li><a href="">All Courses</a></li>
                             <li><a href="">Bachelor Degree</a>
                                 <ul>
                                     <li><a href="">MBBS</a></li>
                                     <li><a href="">BDS</a></li>
                                     <li><a href="">BHMS</a></li>
                                     <li><a href="">BAMS</a></li>
                                 </ul>
                             </li>
                             <li><a href="">Master Degree</a>
                                 <ul>
                                     <li><a href="">MD/MS/Diploma</a></li>
                                     <li><a href="">MDS</a></li>
                                     <li><a href="">MD Ayurveda</a></li>
                                     <li><a href="">MD Homeopathy</a></li>
                                 </ul>
                             </li>
                             <li><a href="">Other Courses</a>
                                 <ul>
                                     <li><a href="">Nursing</a></li>
                                     <li><a href="">Pharmacy</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </li>
                     <li><a href="">blog</a></li>
                     <li><a href="">news <span class="fa fa-caret-down"></span></a>
                         <ul>
                             <li><a href="">News 1</a></li>
                             <li><a href="">News 2</a></li>
                             <li><a href="">News 3</a></li>
                             <li><a href="">News 4</a></li>
                             <li><a href="">News 5</a></li>
                             <li><a href="">News 6</a></li>
                         </ul>
                     </li>
                     <li><a href="">panel discussion</a></li>
                     <li><a href="">login</a></li>
                 </ul>
             </div>
        </div>
        
    </div>
    
</header>
