<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
         <div class="text-center">
             <i class="fa fa-lock"></i>
             <h2>Forgot Password?</h2>
             <div class="step">You can reset your password here.</div>
             <form action="">
                 <div class="portion">
                     <label for="phone">Mobile No</label>
                     <input type="text" name="phone" id="phone">
                 </div>
                 <button routerLink="/confirm-user">Request OTP</button>
             </form>
         </div>
    </div>
</div>