<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="media">
            <h1>Scholarships</h1>

            <div class="cards_back">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc1.png" alt="">
                            <p>All India Pre-medical Scholarship Test
                                <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc2" alt="">
                            <p>All India Youth Scholarship Entrance Examination (AIYSEE)<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc3.png" alt="">
                            <p>Combined Counselling Board Scholarship (CCB)<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc4" alt="">
                            <p>Dr. Shamanur Shivashankarappa Janakalyana Trust’s Scholarship Program<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc5.png" alt="">
                            <p>HDFC Educational Crisis Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc6.png" alt="">
                            <p>L’Oréal India Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc7" alt="">
                            <p>Nationwide Education and Scholarship Test (NEST Senior)<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc8" alt="">
                            <p>Nilam Patel Bahushrut Foundation Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc9" alt="">
                            <p>Nirankari Rajmata Scholarship Scheme<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc10" alt="">
                            <p>Padala Charitable Trust Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc11.png" alt="">
                            <p>Sahu Jain Trust Loan Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc12" alt="">
                            <p>Santoor Women’s Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc13.png" alt="">
                            <p>Swami Dayanand Education Foundation Merit-cum-Means Scholarships<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc14" alt="">
                            <p>Swami Vivekananda Merit Cum Means Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/sc15" alt="">
                            <p>Vijayalakshmi R.L. Jalappa Scholarship<a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    
                  
                </div>
            </div>
            
        </div>
       

        

       
        
    </div>
    
</div>

