<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
       
        
        <div class="all_detail_back details_page">
            <div class="all_layout ">
               <h1>Dear Akash,</h1>
               <div class="d-flex align-items-center justify-content-between">
                   <div class="left">
                        <p>
                            <em>Your interest has been successfully registered!<br> The concerned official will contact you with the admission solution within 48hrs.</em>
                        </p>
                    </div>
                    <div class="right d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column align-items-center">
                            <p>For Expert Counselling</p>
                            <img src="assets/images/click_here.png" routerLink="/expert-counselling" alt="">
                        </div>
                    </div>
               </div>
                
            </div>
            
        </div>

        
    </div>
    
</div>


