<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="all_detail_back">
            <h1>My Institutions</h1>
            <ul class="list_back">
                <li>
                    <h2>DEVDAHA MEDICAL COLLEGE,RUPANDEHI</h2>
                    <p><span> You viewed details of this institute</span><br>
                    You expressed interest to enrol for this institute</p>
                </li>
                <li>
                    <h2>Gouri Devi Institute of Medical Sciences and Hospital, Durgapur</h2>
                    <p><span>You viewed details of this institute</span></p>
                </li>
                <li>
                    <h2>Ramakrishna Mission Hospital , School Of Nursing</h2>
                    <p><span>You viewed details of this institute</span></p>
                </li>
            </ul>
        </div>
    </div>
    
</div>
