<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="all_detail_back">
            <h1>My Institutions</h1>
            <ul class="list_back" *ngFor="let myins of my_inst">
                <li>
                    <h2><span (click)="viewIns(myins)">{{myins.title}}</span></h2>
                    <p><span> You viewed details of this institute</span><br>
                    You expressed interest to enrol for this institute</p>
                </li>
            </ul>
            <div class="all_layout" *ngIf="upFlag">
                <div role="alert" class="alert alert-danger">There is no institution</div>
            </div> 
        </div>
    </div>
    
</div>
