<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li>Find your exam</li>
        </ul>
        <div class="all_detail_back">
            <h1>Find the entrance/eligibility examination according to the course</h1>
            <div class="all_layout d-flex align-items-center">
                <div class="left d-flex align-items-center flex-wrap">
                    <div class="wrap" routerLink="/explore-exam/{{item.id}}" *ngFor="let item of courses"><img src="{{uploadsUrl}}/{{item.icon}}" onerror="this.src = 'assets/images/no-image.png';"></div>

                </div>
                <div class="right d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <p>For Expert Counselling</p>
                        <img src="assets/images/click_here.png" routerLink="/expert-counselling" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
