<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
         <div>
             <h2>Sign UP</h2>
             <div class="step">Step 2/2</div>
             <form action="" class="confirm">
                 <p>Please enter the OTP sent to your registered Mobile number</p>
                 <div class="d-flex align-items-center justify-content-center">
                     <input type="text" name="" id="">
                     <input type="text" name="" id="">
                     <input type="text" name="" id="">
                     <input type="text" name="" id="">
                     <input type="text" name="" id="">
                     <input type="text" name="" id="">
                 </div>
                 <div class="button_back">
                     <button>resent OTP</button>
                     <button disabled>verify</button>
                 </div>
                 
             </form>
         </div>
    </div>
</div>