<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="all_detail_back expert">
            <div class="all_layout">
                <h1>Terms & Conditions</h1>
                <div class="d-flex align-items-center check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked">
                        <span></span>
                        I Agree to the <a routerLink="/tnc"> terms and condition.</a>
                    </label>
                </div>
                
            </div>
        </div>

        <div class="all_detail_back expert">
            <div class="all_layout">
                <h1>Subscription</h1>
                <p>by our Experts!</p>
                <p>To avail this special service</p>
                <button disabled>Subscribe now!</button>
            </div>
        </div>

    </div>
    
</div>
