<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
        <div>
            <h2>Log In</h2>
            <form action="">
                <h6>Login With</h6>
                <div class="portion">
                    <label for="phone">Enter Valid Phone No</label>
                    <input type="text" name="phone" id="phone">
                </div>
                <div class="portion">
                    <label for="">Enter Password</label>
                    <input type="password" name="" id="">
                </div>
                <button routerLink="/home">Login</button>
                <span routerLink="/sign-up">first time here?</span>
                <p>Forgot Password? Retrive <span routerLink="/forgot-pass">Here.</span></p>
                <div>
                    <!-- <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
                  <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Signin with Facebook</button> -->

                </div>
            </form>
        </div>
    </div>
</div>