<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
        <div>
            <h2>Log In</h2>
            <form action="" [formGroup]="signinForm" (ngSubmit)="login()">
                <h6>Login With</h6>
                <div class="portion">
                    <!--<label for="phone">Enter Valid Phone No</label>-->
                    <input type="text" placeholder="Enter Valid Phone No" [(ngModel)]="phone" formControlName="phone" id="phone">
                </div>
                
                <div *ngIf="errorControl.phone.touched && errorControl.phone.invalid">
                    <span style="color: red;" *ngIf="errorControl.phone.errors.pattern">
                      Mobile is not in proper format.
                    </span>
                    <span style="color: red;" *ngIf="errorControl.phone.errors.required">
                      Mobile is required.
                    </span>
                  </div>

                <div class="portion">
                    <!--<label for="">Enter Password</label>-->
                    <input type="password" placeholder="Enter Password"  id="password" [(ngModel)]="password" formControlName="password">
                </div>
                <div *ngIf="errorControl.password.touched && errorControl.password.invalid">
                    <span style="color: red;" *ngIf="errorControl.password.errors.required">
                      Password is required.
                    </span>
                  </div>
                <button type="submit" [disabled]="!signinForm.valid">Login</button>
                <span routerLink="/sign-up">first time here?</span>
                <p><span routerLink="/forgot-pass">Forgot Password.</span></p>
                
                <!--<div>
                  <button type="button" class="google" (click)="loginWithGoogle()">Login with Google</button>
                  <button type="button" class="facebook" (click)="loginWithFacebook()">Signin with Facebook</button>
                </div>-->
            </form>
            <div class="d-flex">
              <div (click)="loginWithGoogle()" class="all_button google d-flex align-items-center justify-content-center" style="background: #ea4335;color: #fff;">
                <img src="assets/images/g_logo.png" alt="">
                  Google
              </div>
              <div (click)="loginWithFacebook()" class="all_button facebook d-flex align-items-center justify-content-center">
                  <img src="assets/images/f_logo.png" alt="">
                  Facebook
              </div>
              <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
            </div>
        </div>
    </div>
</div>