<div class="auth_details d-flex justify-content-between">
    <div class="slide_back">
        <app-before-login-slider></app-before-login-slider>
    </div>
    <div class="log_in_back d-flex justify-content-center">
        <h4 routerLink="/aboutus">ABOUT US</h4>
        <div>
            <h2>Log In</h2>
            <form action="" [formGroup]="signinForm" (ngSubmit)="login()">
                <h6>Login With</h6>
                <div class="portion">
                    <label for="phone">Enter Valid Phone No</label>
                    <input type="text" [(ngModel)]="phone" formControlName="phone" id="phone">
                </div>
                <div *ngIf="errorControl.phone.touched && errorControl.phone.invalid">
                    <span style="color: red;" *ngIf="errorControl.phone.errors.pattern">
                      Mobile is not in proper format.
                    </span>
                    <span style="color: red;" *ngIf="errorControl.phone.errors.required">
                      Mobile is required.
                    </span>
                  </div>

                <div class="portion">
                    <label for="">Enter Password</label>
                    <input type="password"  id="password" [(ngModel)]="password" formControlName="password">
                </div>
                <div *ngIf="errorControl.password.touched && errorControl.password.invalid">
                    <span style="color: red;" *ngIf="errorControl.password.errors.required">
                      Password is required.
                    </span>
                  </div>
                <button type="submit" [disabled]="!signinForm.valid">Login</button>
                <span routerLink="/sign-up">first time here?</span>
                <p>Forgot Password? Retrive <span routerLink="/forgot-pass">Here.</span></p>
                <div>
                  <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
                  <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Signin with Facebook</button>

                </div>
            </form>
        </div>
    </div>
</div>