.all_button{
    width: 212px;
    height: 56px;
    border-radius: 5px;
    background-color: #435DA8;
    color: var(--white-color);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    border: none;
    outline-style: none;
    cursor: pointer;
    margin-right: 20px;
    img{
        margin-right: 8px;
    }
    &.google{
        background-color: transparent;
        color: #333;
        box-shadow: 0px 3px 13px #52525226;
    }
}