<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li>Find your course</li>
        </ul>
        <div class="all_detail_back">
            <h1>Find your institute according to the course</h1>
            <div class="all_layout d-flex align-items-center">
                <div class="left d-flex align-items-center flex-wrap">
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy1.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy2.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy3.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy4.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy5.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy6.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy7.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy8.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy9.png" alt=""></div>
                    <div class="wrap" routerLink="/fyc/fyi"><img src="assets/images/fy10.png" alt=""></div>
                </div>
                <div class="right d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <p>For Expert Counselling</p>
                        <img src="assets/images/click_here.png" routerLink="/expert-counselling" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

