<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="all_detail_back" >
            <h1>General compare</h1>
            <div class="all_layout">
                <div class="row">
                    <div class="col-md-2">
                        <small>Institute Name</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.title}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.title}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>City</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.city}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.city}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Inception Year</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.year_of_inception}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.year_of_inception}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Ownership Type</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.ownership_type}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.ownership_type}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Affiliated To</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.affiliated_to}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.affiliated_to}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Food Availability</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.food_availablity}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.food_availablity}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Hospital</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.hospital}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.hospital}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Library</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.library}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.library}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Placement</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>{{college1?.placement}}</p>
                    </div>
                    <div class="col-md-5">
                        <p>{{college2?.placement}}</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-2">
                        <small>Institute Name</small>
                    </div>
                    <div class="col-md-5 border-line">
                        <p>MOUNIKA SANGAM MBBSPURSUED BATCH : 2023 A very good and lovely college.Our college is known
                            for the teachers.All the teachers are helpful and very supportive.I have seen they also help
                            the students during he time of Internships and guide us properly. ANJALI J THOMAS MBBSBATCH
                            : 2014 For getting admission in the MBBS course, the first thing for every student is to
                            clear the entrance examination known as NEET.To appear in NEET UG the students must passed
                            out 10+2 examination with minimum50% of marks.</p>
                    </div>
                    <div class="col-md-5">
                        <p>K CHANDRA SHEKAR MBBSPURSUED BATCH : 2023 Great college to Study, Bad College for Enjoying.
                            It will come good as it is still a budding college. Soon, playgrounds will be there and lot
                            of sports from our college will come up. But academically, this is one of the top places to
                            be. You may think it maybe a new college, so it wouldn't be great. But, the academics are
                            top class and you would be happy enough to come here for it. K CHANDRA SHEKAR MBBS, PURSUED:
                            BATCH : 2023 Great college to Study, Bad College for Enjoying. It will come good as it is
                            still a budding college. Soon, playgrounds will be there and lot of sports from our college
                            will come up. But academically, this is one of the top places to be. You may think it maybe
                            a new college, so it wouldn't be great. But, the academics are top class and you would be
                            happy enough to come here for it.</p>
                    </div>
                </div> -->
            </div>
        </div>






        <!-- <div class="all_detail_back">
            <h1>Course compare</h1>
            <div class="all_layout">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{institute_courses1.course_name}}
                            </mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-lg-6 border-line">
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Institute Name</small>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{college1.title}}</p> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Course Name</small>
                                        <p>{{institute_courses1.course_name}}</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Annual Fee</small>
                                                <p>{{institute_courses1.fee}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Course Duration</small>
                                                <p>{{institute_courses1.duration}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Number Of Seats</small>
                                                <p>{{institute_courses1.seat}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Enrolment Last Date</small>
                                                <p>{{institute_courses1.last_enrolment_date}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Institute Name</small>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{college2.title}}</p> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Course Name</small>
                                        <p>MBBS</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Annual Fee</small>
                                                <p>11025</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Course Duration</small>
                                                <p>5.6 years</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Number Of Seats</small>
                                                <p>173</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Enrolment Last Date</small>
                                                <p>Oct 31, 2020</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                MBBS
                            </mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-lg-6 border-line">
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Institute Name</small>
                                    </div>
                                    <div class="col-md-8">
                                        <p>ACSR Government Medical College, Nellore</p> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Course Name</small>
                                        <p>MBBS</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Annual Fee</small>
                                                <p>11025</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Course Duration</small>
                                                <p>5.6 years</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Number Of Seats</small>
                                                <p>173</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Enrolment Last Date</small>
                                                <p>Oct 31, 2020</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Institute Name</small>
                                    </div>
                                    <div class="col-md-8">
                                        <p>ACSR Government Medical College, Nellore</p> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <small>Course Name</small>
                                        <p>MBBS</p>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Annual Fee</small>
                                                <p>11025</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Course Duration</small>
                                                <p>5.6 years</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Number Of Seats</small>
                                                <p>173</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <small>Enrolment Last Date</small>
                                                <p>Oct 31, 2020</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div> -->
    </div>
</div>