<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/fyc">Find your course</a></li>
            <li><a routerLink="/fyc/fyi">Find your institution</a></li>
            <li><a routerLink="/fyc/fyi/institute-list">List of institutes</a></li>
            <li>Institutes details</li>
        </ul>

        <div class="all_detail_back details_page">
            <div class="all_layout ">
               <div class="head">
                   <div class="image_back">
                       <img src="assets/images/il1.png" alt="">
                       {{data.title}}
                       <p>{{data.shortname}}</p>
                   </div>
                   <div class="heart d-flex align-items-center">
                    <span class="fa fa-thumbs-up"></span>
                </div>
               </div>

               <div class="main_section">
                   <div class="row">
                       <div class="col-lg-8">
                           <div class="left_details">
                               <div class="portion">
                                   <small>Description</small>
                                    <p>{{data.description}}</p>
                                  </div>
                               <div class="portion">
                                   <ul class="item_list justify-content-between d-flex align-items-center ">
                                       <li>
                                           <small>Ownership Type</small>
                                           <p>{{data.ownership_type}}</p>
                                       </li>
                                       <li>
                                            <small>City</small>
                                            <p>{{data.city}}</p>
                                        </li>
                                        <li>
                                            <small>Year of inception</small>
                                            <p>{{data.year_of_inception}}</p>
                                        </li>
                                        <li>
                                            <small>State</small>
                                            <p>{{data.state_id}}</p>
                                        </li>
                                   </ul>
                               </div>
                               <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Complete Address </small>
                                            <p>{{data.address}} </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>How to reach</small>
                                            <p>{{data.how_to_reach}}</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>News Articles</small>
                                            <p>N/A</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Reviews</small>
                                            <p>MOUNIKA SANGAM MBBSPURSUED BATCH : 2023 A very good and lovely college.Our college is known for the teachers.All the teachers are helpful and very supportive.I have seen they also help the students during he time of Internships and guide us properly. ANJALI J THOMAS MBBSBATCH : 2014 For getting admission in the MBBS course, the first thing for every student is to clear the entrance examination known as NEET.To appear in NEET UG the students must passed out 10+2 examination with minimum50% of marks.

                                            </p>
                                        </li>

                                    </ul>
                                </div>

                           </div>
                       </div>
                       <div class="col-lg-4">
                           <div class="portion">
                               <small>Profile Image</small>
                               <img src="assets/images/pro_image_institute" class="pro_image_institute" alt="">
                               <ul class="item_list">
                                    <li>
                                        <small>Affiliated To </small>
                                        <p>NTR University of Health Sciences, Vijayawada</p>
                                    </li>


                                </ul>
                           </div>
                       </div>
                   </div>
                   <div class="column_area">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="portion">
                                <ul class="item_list">
                                    <li>
                                        <small>Scholarship</small>
                                        <p>{{data.scholarships}}</p>
                                    </li>
                                    <li>
                                        <small>Email</small>
                                        <p><a href="">{{data.admin_email}}</a></p>
                                    </li>
                                    <li>
                                        <small>Food Availability</small>
                                        <p>{{data.food_availablity}}</p>
                                    </li>
                                    <li>
                                        <small>Wi-Fi Facility</small>
                                        <p>{{data.wifi}}</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <ul class="item_list">
                                    <li>
                                        <small>Accredited by</small>
                                        <p>N/A</p>
                                    </li>
                                    <li>
                                        <small>Website</small>
                                        <p><a href="{{data.website}}">{{data.website}}</a></p>
                                    </li>
                                    <li>
                                        <small>Hostel Facility</small>
                                        <p>YES</p>
                                    </li>
                                    <li>
                                        <small>Library Facility</small>
                                        <p>{{data.library}}</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <ul class="item_list">
                                    <li>
                                        <small>Admin ranking</small>
                                        <p>N/A</p>
                                    </li>
                                    <li>
                                        <small>Contact numbers</small>
                                        <p>{{data.contact_no}}</p>
                                    </li>
                                    <li>
                                        <small>Placement Facility</small>
                                        <p>{{data.placement}}</p>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               </div>

            </div>

        </div>

        <div class="all_detail_back details_page second">
            <div class="all_layout d-flex align-items-center ">
                <div class="left">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="wrap"><div class="button" (click)="courses_pop()">Courses</div></div>
                        <div class="wrap"><div class="button" (click)="noti_pop()">Notification</div></div>
                        <div class="wrap"><div class="button" (click)="pgallery_pop()">Photo Gallery</div></div>
                        <div class="wrap"><div class="button">Virtual Tour</div></div>
                        <div class="wrap"><div class="button">Download Brochure</div></div>
                    </div>
                    <div class="full_button d-flex align-items-center justify-content-center flex-column">
                        <p>Interested to get admission?</p>
                        <div class="button" routerLink="/fyc/fyi/institute-list/institute-details/institute-confirmation">Click Here</div>
                    </div>

                </div>
                <div class="right d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <p>For Expert Counselling</p>
                        <img src="assets/images/click_here.png" routerLink="/expert-counselling" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="all_detail_back details_page second" *ngIf="courses">
            <div class="all_layout d-flex align-items-center ">
                <h1>Courses</h1>
            </div>
        </div>
        <div class="all_detail_back details_page second" *ngIf="noti">
            <div class="all_layout d-flex align-items-center ">
                <h1>Institute Notification </h1>
                <ul class="notification_back">
                    <li class="d-flex align-items-center justify-content-between">
                        <p>
                            <span class="no">0001</span><br>
                            Click here to know latest and important notices http://www.aniims.org/notice.php

                        </p>
                        <div class="button" (click)="popOpen()">View</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all_detail_back details_page second" *ngIf="pgallery">
            <div class="all_layout d-flex align-items-center ">
                <h1>Institute Gallery </h1>
                <div class="gallery_section">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g1" alt="">
                                <p>Anatomy demonstration room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g2" alt="">
                                <p>Council room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g3" alt="">
                                <p>Common Room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g1" alt="">
                                <p>Anatomy demonstration room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g2" alt="">
                                <p>Council room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g3" alt="">
                                <p>Common Room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g1" alt="">
                                <p>Anatomy demonstration room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g2" alt="">
                                <p>Council room</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <img src="assets/images/g3" alt="">
                                <p>Common Room</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="popup" *ngIf="pop"  (click)="popClose()">
    <div class="back">
        <p>
            <span class="no">0001</span><br>
            Click here to know latest and important notices http://www.aniims.org/notice.php

        </p>

    </div>

  </div>
