<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/fyc">Find your course</a></li>
            <li><a routerLink="/fyc/fyi">Find your institution</a></li>
            <li><a routerLink="/fyc/fyi/institute-list">List of institutes</a></li>
            <li>Institutes details</li>
        </ul>

        <div class="all_detail_back details_page">
            <div class="all_layout ">
                <div class="head">
                    <div class="image_back">
                        <img src="{{uploadsUrl}}/{{data.logo}}" onerror="this.src = 'assets/images/no-image.png';">
                        {{data.title}}
                        <p>{{data.shortname}}</p>
                    </div>
                    <div class="heart d-flex align-items-center">
                        {{data.likecount}}<span class="fa fa-thumbs-up" (click)="likeInstitute()"></span>
                    </div>
                </div>

                <div class="main_section">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="left_details">
                                <div class="portion" style="margin-top: 15px;">
                                    <small>Description</small>
                                    <p>{{data.description}}</p>
                                </div>
                                <div class="portion">
                                    <ul class="item_list justify-content-between d-flex align-items-center ">
                                        <li>
                                            <small>Ownership Type</small>
                                            <p>{{data.ownership_type}}</p>
                                        </li>
                                        <li>
                                            <small>City</small>
                                            <p>{{data.city}}</p>
                                        </li>
                                        <li>
                                            <small>Year of inception</small>
                                            <p>{{data.year_of_inception}}</p>
                                        </li>
                                        <li>
                                            <small>State</small>
                                            <p>{{data.state_id}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Complete Address </small>
                                            <p>{{data.address}} </p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>How to reach</small>
                                            <p>{{data.how_to_reach}}</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>News Articles</small>
                                            <p>{{data.news_article}}</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Reviews</small>
                                            <p>
                                                {{data.reviews}}

                                            </p>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portion">
                                <small style="display: block;">Profile Image</small>
                                <img style="width: 240px;" src="{{uploadsUrl}}/{{data.cover}}"
                                    class="pro_image_institute" onerror="this.src = 'assets/images/no-image.png';">
                                <ul class="item_list">
                                    <li>
                                        <small>Affiliated To </small>
                                        <p>{{data.affiliated_to}}</p>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="column_area">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Scholarship</small>
                                            <p>{{data.scholarships}}</p>
                                        </li>
                                        <li>
                                            <small>Email</small>
                                            <p><a href="">{{data.admin_email}}</a></p>
                                        </li>
                                        <li>
                                            <small>Food Availability</small>
                                            <p>{{data.food_availablity}}</p>
                                        </li>
                                        <li>
                                            <small>Wi-Fi Facility</small>
                                            <p>{{data.wifi}}</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Accredited by</small>
                                            <p>N/A</p>
                                        </li>
                                        <li>
                                            <small>Website</small>
                                            <p><a href="{{data.website}}">{{data.website}}</a></p>
                                        </li>
                                        <li>
                                            <small>Hostel Facility</small>
                                            <p>{{data.hostel_facility}}</p>
                                        </li>
                                        <li>
                                            <small>Library Facility</small>
                                            <p>{{data.library}}</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <ul class="item_list">
                                        <li>
                                            <small>Admin ranking</small>
                                            <p>{{data.admin_ranking}}</p>
                                        </li>
                                        <li>
                                            <small>Contact numbers</small>
                                            <p>{{data.contact_no}}</p>
                                        </li>
                                        <li>
                                            <small>Placement Facility</small>
                                            <p>{{data.placement}}</p>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="all_detail_back details_page second">
                <div class="all_layout d-flex align-items-center ">
                    <div class="left">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="wrap">
                                <div class="button" (click)="courses_pop(data.id)">Courses</div>
                            </div>
                            <div class="wrap">
                                <div class="button" (click)="noti_pop(data.id)">Notification</div>
                            </div>
                            <div class="wrap">
                                <div class="button" (click)="pgallery_pop()">Photo Gallery</div>
                            </div>
                            <div class="wrap">
                                <div class="button">Virtual Tour</div>
                            </div>
                            <div class="wrap">
                                <div class="button" (click)="downloadMyFile(data.brouchure)">Download Brochure</div>
                                <!-- <a href="{{uploadsUrl}}/{{data.brouchure}}" download="brochure.pdf"><div class="button">Download Brochure</div></a> -->
                            </div>
                        </div>
                        <div class="full_button d-flex align-items-center justify-content-center flex-column">
                            <p>Interested to get admission?</p>
                            <div class="button"
                                routerLink="/fyc/fyi/institute-list/institute-details/institute-confirmation">Click Here
                            </div>
                        </div>

                    </div>
                    <div class="right d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column align-items-center">
                            <p>For Expert Counselling</p>
                            <img src="assets/images/click_here.png" routerLink="/expert-counselling" alt="">
                        </div>
                    </div>
                </div>

            </div>

            <div class="all_detail_back details_page second" *ngIf="courses">
                <div class="all_layout d-flex align-items-center ">
                    <h1>Courses</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Eligibility</th>
                                <th>Duration</th>
                                <th>Number of seats</th>
                                <th>Last date of enrolment</th>
                                <th>Fee per year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let icourse of institute_courses">
                                <td>{{icourse.course_name}}</td>
                                <td>{{icourse.eligibility}}</td>
                                <td>{{icourse.duration}}</td>
                                <td>{{icourse.seat}}</td>
                                <td>{{icourse.last_enrolment_date}}</td>
                                <td>{{icourse.fee}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="all_detail_back details_page second" *ngIf="noti">
                <div class="all_layout d-flex align-items-center ">
                    <h1>Institute Notification </h1>
                    <ul class="notification_back" *ngFor="let noti of ins_notifications">
                        <li class="d-flex align-items-center justify-content-between">
                            <p>
                                <span class="no">{{noti.title}}</span><br>
                                Click here to know more
                                <a href="{{noti.description}}">{{noti.description}}</a>

                            </p>
                            <div class="button" (click)="popOpen()">View</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="all_detail_back details_page second" *ngIf="pgallery">
                <div class="all_layout d-flex align-items-center ">
                    <h1>Institute Gallery </h1>
                    <div class="gallery_section">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g1" alt="">
                                    <p>Anatomy demonstration room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g2" alt="">
                                    <p>Council room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g3" alt="">
                                    <p>Common Room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g1" alt="">
                                    <p>Anatomy demonstration room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g2" alt="">
                                    <p>Council room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g3" alt="">
                                    <p>Common Room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g1" alt="">
                                    <p>Anatomy demonstration room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g2" alt="">
                                    <p>Council room</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portion">
                                    <img src="assets/images/g3" alt="">
                                    <p>Common Room</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="popup" *ngIf="pop" (click)="popClose()">
        <div class="back">
            <p>
                <span class="no">0001</span><br> Click here to know latest and important notices
                http://www.aniims.org/notice.php

            </p>

        </div>

    </div>