<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="media">
            <h1>Media</h1>

            <div class="cards_back">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let media of medias">
                        <div class="portion">
                            <h2>{{media.title}}</h2>
                            <img src="{{uploadsUrl}}/{{media.image}}" onerror="this.src = 'assets/images/no-image.png';">
                            <p>{{media.description}}<a href="{{media.link}}">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    
                    <!-- <div class="col-lg-4">
                        <div class="portion">
                            <h2>TIMES OF BENGAL</h2>
                            <img src="assets/images/m2" alt="">
                            <p>MEDCYCLOPEDIA ,a unique medical admission app launched by Infinity Educare <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <h2>TIMESNOWNEWS.COM</h2>
                            <img src="assets/images/m3" alt="">
                            <p>NEET 2020 official Answer key published at ntaneet.nic.in <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <h2>Sarvgyan</h2>
                            <img src="assets/images/m4" alt="">
                            <p>NEET counselling begins on 27th October 2020 <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <h2>Financial Samachar</h2>
                            <img src="assets/images/m5" alt="">
                            <p>Medcyclopedia App launched by Infinity to simplify medical admissions <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div> -->
                </div>
            </div>
            
        </div>
       

        

       
        
    </div>
    
</div>

