<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li>List of exams</li>
        </ul>
        <div class="all_detail_back">
            <h1>Exam List</h1>
            <div class="all_layout">
                <form action="">
                    <div class="search_filter">
                        <div class="portion">
                            <label for="filter">Filter</label>
                            <input type="search" name="" id="filter">
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Exam Name</th>
                                    <th>Imp. Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of exams">
                                    <td>{{item.title}}</td>
                                    <td>{{item.important_date_current_year}}</td>
                                    <td>
                                        <a href="{{item.link}}">View</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
