<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="breadcrumb">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/fyc">Find your course</a></li>
            <li>Find your institution</li>
        </ul>
        <h1>Popular coutries for MBBS Abroad</h1>
        <div class="country_back">
            <div class="port" *ngFor="let item of countries" (click)="getCountryId(item.id)">
                <img src="assets/images/{{item.name}}.png" onerror="this.src = 'assets/images/no-image.png';">
                <p>{{item.name }}</p>
            </div>

        </div>
        <div class="all_detail_back">
            <div class="all_layout">
               <img src="assets/images/MBBS_ABROAD.jpg" alt="">
               <img src="assets/images/WHY_MBBS_ABROAD.jpg" alt="">
               <img src="assets/images/MBBS_ADMISSION_ABROAD_STEPS.jpg" alt="">
               <img src="assets/images/OUR_SERVICES.jpg" alt="">
            </div>

        </div>
    </div>

</div>
