<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <ul class="service_list_back d-flex align-items-center">
            <li routerLink="/fyc"><img src="assets/images/s-l1.png" alt=""></li>
            <li routerLink="/find-exam"><img src="assets/images/s-l2.png" alt=""></li>
            <li routerLink="/abroad"><img src="assets/images/s-l3.png" alt=""></li>
            <li routerLink="/expert-counselling"><img src="assets/images/s-l4.png" alt=""></li>
            <li routerLink="/expert-counselling"><img src="assets/images/s-l5.png" alt=""></li>
            <li routerLink="/panel-discussion"><img src="assets/images/s-l6.png" alt=""></li>
            <li routerLink="/notification"><img src="assets/images/s-l7.png" alt=""></li>
            <li routerLink="/edu-assistance"><img src="assets/images/s-l8.png" alt=""></li>
            <li routerLink="/scholarships"><img src="assets/images/s-l9.png" alt=""></li>
        </ul>
    </div>
    
</div>