<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="all_detail_back">
            <h1>My Activity</h1>
            <div class="all_layout d-flex align-items-center">
                <div class="left d-flex align-items-center flex-wrap">
                    <div class="wrap"><div class="button">Detailed Page View</div></div>
                    <div class="wrap"><div class="button">Course Application</div></div>
                    <div class="wrap"><div class="button">Photo Gallery View</div></div>
                    <div class="wrap"><div class="button">Virtual Tour</div></div>
                    <div class="wrap"><div class="button">Video Counselling</div></div>
                    <div class="wrap"><div class="button">Audio Call</div></div>
                    <div class="wrap"><div class="button">WhatsApp Chat</div></div>
                </div>
                <div class="right d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <p>For Expert Counselling</p>
                        <img src="assets/images/click_here.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
