<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
        <div class="media">
            <h1>News and Events</h1>

            <div class="cards_back">
                <div class="row" *ngFor="let ne of news_events">
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="{{uploadsUrl}}/{{ ne.image }}" onerror="this.src = 'assets/images/no-image.png';">
                            <p>{{ne.title}}<a href="{{ ne.description }}">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    
                    <!-- <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/e2.webp" alt="">
                            <p>MCC Lists Disability Centres To Issue Certificates To PWD Candidates <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/e3.webp" alt="">
                            <p>NEET Counselling Round 1 provisional result declared at mcc.nic.in <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/e4" alt="">
                            <p>New MBBS Curriculum: MCI Releases New Pandemic Management Module For Medical Students <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portion">
                            <img src="assets/images/e5" alt="">
                            <p>NEET 2020 Not Necessary For MBBS Abroad, Applicants Can Appear In 2021: MCI Order <a href="">CLICK HERE TO VIEW</a></p>
                            
                        </div>
                    </div> -->
                </div>
            </div>
            
        </div>
       

        

       
        
    </div>
    
</div>

