<div class="all_pages">
    <div class="container">
        <app-site-header></app-site-header>
        <app-site-banner></app-site-banner>
       
        
        <div class="all_detail_back rne">
            <div class="all_layout ">
               <h3><em>Have not subscribed yet? Do it fast!</em></h3>
               <p>Refer <span>PI7fVF</span> to your friends and earn points, which you may redeem while renewing your subscription!</p>
               <div class="email_area d-flex align-items-center">
                   <input type="email" class="form-control" placeholder="Enter mobile no of your friend" name="" id="">
                   <button><img src="assets/images/sms.svg" alt=""></button>
               </div>
                
            </div>
            
        </div>

        
    </div>
    
</div>
