<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/1-1.png" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/1-2.png" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/1-3.png" alt="">
      </div>
    </div>
</div>
